@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main container */
#main-container {
    background: #FFF;
    position: relative;
    overflow: hidden;
}


/* hero container */
#hero-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

button {
    cursor: pointer;
}

/* navbar - start */
#navbar {
    position: absolute;
    z-index: 4;
    width: 100%;
}

#navbar ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
    position: relative;
    z-index: 3;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
}


/* company logo */
#navbar-company-logo img {
    width: 170px;
    height: 62.348px;
}


/* phone number in navbar */
#navbar-phone-number > a > div {
    width: 224px;
    height: 56px;
    display: flex;
}

#navbar-phone-number > a > div > img {
    display: flex;
    width: 46.408px;
    height: 46.408px;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    margin-top: 4.5px;
    border-radius: 12px;
}

#navbar-phone-number > a > div > div p:nth-child(1) {
    color: #0081C6;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.34px;
    opacity: 0.8;
}

#navbar-phone-number > a > div > div p:nth-child(2) {
    color: #1C3644;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 169px;
}

@media (max-width: 580px) {
    #navbar-company-logo img {
        max-width: 120px;
        height: auto;
    }

    #navbar-phone-number > a > div {
        max-width: 140px;
    }

    #navbar-phone-number a div img {
        height: 38px;
        width: 38px;
    }

    #navbar-phone-number > a > div > div p:nth-child(1), #navbar-phone-number > a > div > div p:nth-child(2) {
        font-size: 12px;
    }
}
/* navbar - finish */

/* background houses in hero - start */
#background-houses {
    background-image: url('../public/hero-background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
/* background houses in hero - finish */

/* save-up-to-5k-section - start */
#save-up-to-5k-section-parent-container {
    position: relative;
    z-index: 3;
    padding-bottom: 69px;
}

#save-up-to-5k-section-container {
    display: flex;
    padding-top: 166px;
}

#save-up-to-5k-section {
    display: inline-flex;
    padding: 10px 26px;
    align-items: center;
    gap: 9px;
    margin: auto;
    border-radius: 30px;
    background: rgba(0, 129, 198, 0.05);
}

#save-up-to-5k-section img {
    width: 18px;
    height: 18.75px;
}

#save-up-to-5k-section span {
    color: #0081C6;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
/* save-up-to-5k-section - finish */

/* main heading - start */
#main-heading {
    width: 971px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

#main-heading h1 {
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

@media (max-width: 1000px) {
    #save-up-to-5k-section {
        max-width: 950px;
    }

    #main-heading {
        max-width: 800px;
    }
}

@media (max-width: 830px) {
    #save-up-to-5k-section {
        max-width: 580px;
    }

    #main-heading {
        max-width: 670px;   
    }

    #main-heading h1 {
        font-size: 35px;
        line-height: 1.25;
    }
}

@media (max-width: 690px) {
    #save-up-to-5k-section {
        max-width: 380px;
    }

    #save-up-to-5k-section span {
        font-size: 12px;
    }

    #main-heading {
        max-width: 470px;   
    }

    #main-heading h1 {
        font-size: 25px;
        line-height: 1.25;
    }
}
/* main heading - finish */


/* sub heading - start */
#sub-heading {
    width: 782px;
    margin: auto;
}

#sub-heading p {
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

@media (max-width: 830px) {
    #sub-heading {
        width: 650px;
    }
}

@media (max-width: 690px) {
    #sub-heading {
        width: 450px;
    }

    #sub-heading p {
        font-size: 15px;
    }
}
/* sub heading - finish */


/* video - start */
#video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 3;
}

#video > img {
    width: 760px;
    height: 424px;
    margin-top: 20px;
}

@media (max-width: 830px) {
    #video {
        max-width: 670px;
        margin: auto;
        height: auto
    }

    #video > img {
        width: 660px;
        height: auto;
        margin-top: 20px;
    }
}

@media (max-width: 690px) {
    #video > img {
        width: 560px;
        height: auto;
        margin-top: 20px;
    }
}

@media (max-width: 580px) {
    #video {
        max-width: 470px;
        margin: auto;
        height: auto
    }

    #video > img {
        width: 460px;
        height: auto;
        margin-top: 20px;
    }
}

/* video speaker icon */
#speaker-icon {
    position: absolute;
    z-index: 1;
    top: 58px;
    background: rgba(230, 235, 234, 0.28);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 19.46px 0;
    min-width: 689px;
    border-radius: 60px;
    background: rgba(230, 235, 234, 0.28);
    border: none;
}

/* video play button */
#video-play-button {
    padding-top: 11.24px;
    padding-left: 32.98px;
    padding-right: 32.98px;
    padding-bottom: 15.76px;
    border-radius: 140.476px;
    background: #1C3644;
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 25.286px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.011px;
    border: none;
    bottom: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

#video-play-button > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-play-button svg {
    margin-left: 18.21px;
    stroke-width: 2.81px;
    stroke: #FFF;
    position: relative;
    top: 3px;
}

@media (max-width: 830px) {
    #speaker-icon {
        min-width: 600px;
    }
}

@media (max-width: 830px) {
    #speaker-icon {
        min-width: 600px;
    }
}

@media (max-width: 690px) {
    #speaker-icon {
        min-width: 500px;
    }

    #video-play-button {
        font-size: 20px;
        padding-top: 9px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
    }

    #video-play-button svg {
        margin-left: 15px;
        stroke-width: 1px;
        stroke: #FFF;
        position: relative;
        top: 3px;
    }
}

@media (max-width: 580px) {
    #speaker-icon {
        min-width: 400px;
    }
}
/* video - finish */


/* claim-free-measure-and-quote - start */
#claim-free-measure-and-quote {
    width: 411px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    z-index: 3;
}

#claim-free-measure-and-quote button {
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 17px 59px;
    border: none;
    white-space: nowrap;
}

#claim-free-measure-and-quote p {
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 6px;
}

@media (max-width: 580px) {
    #claim-free-measure-and-quote {
        max-width: 411px;
        text-align: center;
    }

    #claim-free-measure-and-quote button {
        font-size: 12px;
        padding: 14px 48px;
        margin: auto;
    }

    #claim-free-measure-and-quote p {
        font-size: 12px;
    }
}
/* claim-free-measure-and-quote - finish */


/* four-usp - start */
#four-usp-container {
    width: 100%;
    height: 124px;
    background: #FFF;
    box-shadow: 0px 33px 90px 0px rgba(138, 149, 158, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

#four-usp {
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

#four-usp ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#four-usp img {
    margin-right: 15px;
}

#four-usp div ul li span {
    color: #1C3644;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.72px;
}

#four-usp li {
    list-style: none;
}

@media (max-width: 1030px) {
    #four-usp-container {
        height: 154px;
    }

    #four-usp {
        flex-wrap: wrap;
        justify-content: center;

    }
}
/* four-usp - finish */


/* bring your home to life section - start */
#bring-your-home-to-life-parent-container {
    position: relative;
    z-index: 3;
    margin-top: 109px;
    margin-bottom: 123.89px;
}

#background-text {
    max-width: 1050px;
    margin: auto;
}

#background-text h2 {
    position: absolute;
    background: linear-gradient(180deg, #F8F8F8 34.03%, #FFF 79.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 156.937px;
    font-style: normal;
    line-height: normal;
    white-space: nowrap;
    top: -80px;
    z-index: 1;
}

@media (max-width: 1040px) {
    #background-text h2 {
        font-size: 126px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-width: 850px) {
    #background-text h2 {
        font-size: 110px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-width: 730px) {
    #background-text h2 {
        font-size: 95px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media (max-width: 580px) {
    #background-text h2 {
        font-size: 126px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

#bring-your-home-to-life-main-container {
    position: relative;
    z-index: 3;
    max-width: 950px;
    margin: auto;
}

#bring-your-home-to-life {
    text-align: center;
}

#bring-your-home-to-life h2 {
    max-width: 730px;
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    margin: auto;
}

#bring-your-home-to-life img {
    max-width: 950.002px;
    margin: 50px 0;
}

@media (max-width: 990px) {
    #bring-your-home-to-life img {
        max-width: 850px;
        margin: 50px auto;
    }
}

@media (max-width: 920px) {
    #bring-your-home-to-life img {
        max-width: 750px;
        margin: 50px auto;
    }
}

@media (max-width: 870px) {
    #bring-your-home-to-life img {
        max-width: 650px;
        margin: 50px auto;
    }

    #bring-your-home-to-life h2 {
        max-width: 530px;
        font-size: 30px;
    }
}

@media (max-width: 680px) {
    #bring-your-home-to-life img {
        max-width: 550px;
        margin: 50px auto;
    }
}

@media (max-width: 580px) {
    #bring-your-home-to-life h2 {
        font-size: 22px;
    }

    #bring-your-home-to-life img {
        max-width: 500px;
        margin: 50px auto;
    }
}

#bring-your-home-to-life-copy p {
    max-width: 514px;
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: 0 auto 30px auto;
    text-align: left;
}

#bring-your-home-to-life-copy strong {
    color: #0081C6;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
}

@media (max-width: 870px) {
    #bring-your-home-to-life-copy p {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    #bring-your-home-to-life-copy p {
        font-size: 12px;
        margin: 0 auto 15px auto;
    }

    #bring-your-home-to-life-copy p strong {
        font-size: 12px;
    }
}

#bring-your-home-to-life button {
    margin-top: 20px;
    margin-bottom: 6px;
    padding: 17px 58px;
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
}

#bring-your-home-to-life span {
    display: block;
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#bring-your-home-to-life span strong {
    color: #252A2C;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

@media (max-width: 580px) {
    #bring-your-home-to-life button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #bring-your-home-to-life span {
        font-size: 12px;
    }

    #bring-your-home-to-life span strong {
        font-size: 12px;
    }
}
/* bring your home to life section - finish */


/* upgrade your home with modern - start */
#upgrade-your-home-with-modern-container {
    display: flex;
    justify-content: center;
}

#upgrade-your-home-with-modern-left-column {
    text-align: left;
    margin-right: 15px;
}

#upgrade-your-home-with-modern-container h2 {
    width: 531px;
    color: #1C3644;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
}

#upgrade-your-home-with-modern-copy {
    width: 500px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-top: 30px;
}

#upgrade-your-home-with-modern-container button {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    border: none;
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    padding: 17px 58px;
    margin-right: 6px;
}

#upgrade-your-home-with-modern-button-area {
    width: 408px;
    white-space: nowrap;
    text-align: center;
    margin-top: 30px;
}

#upgrade-your-home-with-modern-container span {
    display: block;
    color: #252A2C;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-top: 6px;
    margin-right: 6px;
}

#upgrade-your-home-with-modern-container span strong {
    color: #252A2C;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
}

#upgrade-your-home-with-modern-container img {
    max-width: 626px;
    margin-bottom: 102.82px;
}

@media (max-width: 1190px) {
    #upgrade-your-home-with-modern-left-column {
        margin-right: 0;
    }

    #upgrade-your-home-with-modern-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    #upgrade-your-home-with-modern-button-area {
        margin: auto;
        margin-top: 15px;
    }
}

@media (max-width: 680px) {
    #upgrade-your-home-with-modern-left-column {
        margin-right: 0;
    }

    #upgrade-your-home-with-modern-left-column h2 {
        font-size: 30px;
    }

    #upgrade-your-home-with-modern-copy {
        font-size: 15px;
        height: 270px;
    }

    #upgrade-your-home-with-modern-container img {
        max-width: 500px;
    }
}

@media (max-width: 580px) {
    #upgrade-your-home-with-modern-left-column h2 {
        font-size: 22px;
    }

    #upgrade-your-home-with-modern-copy {
        font-size: 12px;
        height: 230px;
    }

    #upgrade-your-home-with-modern-button-area button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #upgrade-your-home-with-modern-button-area span {
        font-size: 12px;
    }

    #upgrade-your-home-with-modern-button-area span strong {
        font-size: 12px;
    }
}
/* upgrade your home with modern - finish */


/* why 200,000+ home owners - start */
#why-200000-home-owners-parent-container {
    position: relative;
    min-width: 100%;
    padding-top: 93px;
    padding-bottom: 93px;
}

#why-200000-home-owners-background-image-container {
    /* background image */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url('../public/why-200000-home-owners-background-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#why-200000-home-owners-copy-container {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 29px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

#why-200000-home-owners-copy-container h2 {
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
}

#individual-usp-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 0;
}

.individual-usp {
    display: flex;
    align-self: stretch;
    background-color: #FFF;
    border-radius: 25px;
    padding: 2rem;
}

.individual-usp img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    display: inline-block;
}

.individual-usp p {
    color: #202020;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

.individual-usp p strong {
    color: #202020;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    line-height: 155%;
}

@media (max-width: 740px) {
    #individual-usp-container {
        margin: 40px 10px;
    }
}

@media (max-width: 680px) {
    #individual-usp-container p, #individual-usp-container strong {
        font-size: 15px;
    }

    #why-200000-home-owners-copy-container h2 {
        font-size: 30px;
    }
}

@media (max-width: 580px) {
    #why-200000-home-owners-copy-container h2 {
        font-size: 22px;
    }
}

#why-200000-home-owners-copy-container span {
    margin-top: 6px;
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
}

#why-200000-home-owners-copy-container button {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    border: none;
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    padding: 17px 58px;
    max-width: 411px;
    margin: auto;
}

#why-200000-home-owners-copy-container span strong {
    margin: 0 2px;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 13.5px;
    font-style: normal;
    line-height: 150%;
}

@media (max-width: 580px) {
    #why-200000-home-owners-copy-container button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #why-200000-home-owners-copy-container span {
        font-size: 12px;
    }

    #why-200000-home-owners-copy-container span strong {
        font-size: 12px;
    }
}
/* why 200,000+ home owners - finish */


/* the smart tech - start */
#the-smart-tech-parent-container {
    position: relative;
    z-index: 1;
}



#the-smart-tech-container {
    margin: 115px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#left-container {
    width: 100%;
    max-width: 532px;
    position: relative;
}

#right-container {
    max-width: 571px;
}

#left-container-background-colour {
    width: 550px;
    height: 736px;
    border-radius: 30px;
    background: rgba(0, 129, 198, 0.10);
    position: absolute;
    z-index: 1;
    top: -35px;
    right: 197px;
}

#left-container-image-container {
    position: relative;
    z-index: 3;
    right: 45px;
}

#left-container img {
    max-width: 532px;
}

#left-container-offer {
    position: absolute;
    z-index: 4;
    top: 32px;
    right: 0;
    background-color: #FFF;
    filter: drop-shadow(4.63px 4.63px 46.296px rgba(0, 0, 0, 0.18));
    display: flex;
    gap: 8px;
    border-radius: 0 25px 0 25px;
    padding: 20px 24px;
    max-width: 248px
}

#left-container-offer img {
    height: 40px;
    width: 40px;
}

#left-container-offer p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 130%;
}

#right-container h2 {
    color: #1C3644;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
    margin-bottom: 22px;
}

#right-container-copy {
    max-width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 392px;
}

#right-container-copy p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    line-height: 155%;
}

#right-container div:last-child {
    max-width: 402px;
    margin-top: 23px;
}

#right-container div:last-child button {
    padding: 20px 58px;
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    border: none;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
}

#right-container div:last-child p {
    text-align: center;
    color: #252A2C;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-top: 6px;
}

@media (max-width: 1260px) {
    #left-container-image-container {
        position: relative;
        z-index: 3;
        right: 0;
    }
  }

  @media (max-width: 1180px) {
    #the-smart-tech-container {
        margin: 115px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    #the-smart-tech-button {
        margin: auto;
    }
  }

  @media (max-width: 1000px) {
    #left-container-background-colour {
        right: 70px;
    }
  }

  @media (max-width: 730px) {
    #left-container-background-colour {
        right: 40px;
    }
  }

  @media (max-width: 680px) {
    #right-container h2 {
        font-size: 30px;
    }

    #right-container-copy p {
        font-size: 15px;
    }

    #right-container-copy {
        height: 300px;
    }
  }

  @media (max-width: 580px) {
    #left-container-background-colour {
        right: 70px;
        width: 450px;
        height: 636px;
    }

    #left-container img {
        max-width: 432px;
    }

    #left-container-offer p {
        font-size: 12px;
    }

    #left-container-image-container {
        left: 50px;
    }

    #left-container-offer img {
        height: 30px;
        width: 30px;
    }

    #left-container-offer {
        padding: 20px 24px;
        max-width: 215px
    }

    #right-container h2 {
        font-size: 22px;
        max-width: 480px;
        margin: auto;
    }

    #right-container-copy {
        max-width: 480px;
        height: 225px;
    }

    #right-container-copy p {
        font-size: 12px;
    }

    #the-smart-tech-button {
        text-align: center;
    }

    #right-container div:last-child button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #right-container div:last-child p {
        font-size: 12px;
    }
  }
/* the smart tech - finish */


/* amazing exterior window transformation - start */
#amazing-exterior-window-transformation-parent-container {
    background-color: #E6F7FF;
    position: relative;
    z-index: 1;
}

#corner-blurs {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-image: url('../public/corner-blurs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
}

#amazing-exterior-window-transformation-container {
    padding: 80px 0;
    max-width: 998px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    z-index: 3;
}

#amazing-exterior-window-transformation-container h2 {
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
    max-width: 514px;
}

#amazing-exterior-window-transformation-content {
    width: 100%;
    position: relative;
    z-index: 3;
}

#amazing-exterior-window-transformation-content > div {
    display: flex;
    gap: 30px;
    margin-bottom: 73px;
}

#amazing-exterior-window-transformation-content > div:last-child {
    margin-bottom: 0;
}

.before-and-after-images {
    position: relative;
    width: 100%;
    height: auto;
}

.before-and-after-tick-cross {
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.before-and-after-tick-cross img {
    width: 358px;
    height: auto;
    border-radius: 15.958px;
    box-shadow: 0px 10px 80px 0px rgba(4, 45, 85, 0.25);
}

#amazing-exterior-window-button-area button {
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    border: none;
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    padding: 20px 58px;
    margin-top: 15px;
}

#amazing-exterior-window-button-area p {
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-top: 6px;
}

@media (max-width: 1020px) {
    #amazing-exterior-window-transformation-container {
        gap: 15px;
    }

    #amazing-exterior-window-transformation-content > div {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .before-and-after-images {
        margin: 20px 0;
    }

    #amazing-exterior-window-button-area {
        margin-top: 15px;
    }
}

@media (max-width: 680px) {
    #amazing-exterior-window-transformation-container h2 {
        font-size: 30px;
    }
}

@media (max-width: 580px) {
    #amazing-exterior-window-transformation-container h2 {
        font-size: 22px;
    }

    #amazing-exterior-window-button-area {
        text-align: center;
    }

    #amazing-exterior-window-button-area button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #amazing-exterior-window-button-area p {
        font-size: 12px;
    }
}
/* amazing exterior window transformation - finish */


/* expert craftmen - start */
#expert-craftmen-parent-container {
    position: relative;
}

#expert-craftmen-container {
    max-width: 1140px;
    margin: auto;
    margin-top: 120px;
    padding-bottom: 90px;
    border-bottom: 1px solid #C9C9C9;
    display: flex;
    flex-wrap: wrap;
    gap: 43.5px;
}

#expert-craftmen-container h2 {
    color: #1C3644;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
    max-width: 500px;
}

@media (max-width: 660px) {
    #expert-craftmen-container h2 {
        font-size: 32px;
    }
}



#expert-craftmen-container-copy {
    max-width: 500px;
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 155%;
    margin: 30px 0;
}

#expert-craftmen-container-copy p {
    margin: 32px 0;
}

#expert-craftmen-container-copy p:nth-child(1) {
    margin-top: 0;
}

#expert-craftmen-container-copy p:nth-child(3) {
    margin-bottom: 0;
}

@media (max-width: 660px) {
    #expert-craftmen-container-copy p {
        font-size: 12px;
    }
}

@media (max-width: 580px) {
    #expert-craftmen-container-copy {
        max-width: 480px;
    }

    #expert-craftmen-container-copy p {
        font-size: 12px !important;
        margin: 20px 0;
    }
}

#expert-craftmen-button-area {
    max-width: 402px;
}

#expert-craftmen-button-area button {
    border-radius: 10px;
    background: #0081C6;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
    color: #FFF;
    border: none;
    padding: 20px 58px;
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
}

#expert-craftmen-button-area p {
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
    margin-top: 6px;
}

#expert-craftmen-container img {
    max-width: 570px;
}

#expert-craftmen-below-line-container {
    margin: 90px 0;
}

#expert-craftmen-below-line-container h2 {
    text-align: center;
    max-width: 659.891px;
    margin: auto;
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
}

@media (max-width: 680px) {
    #expert-craftmen-below-line-container h2 {
        font-size: 30px;
        max-width: 550px;
    }
}

@media (max-width: 580px) {
    #expert-craftmen-below-line-container h2 {
        font-size: 22px;
    }

    #expert-craftmen-button-area {
        text-align: center;
    }

    #expert-craftmen-button-area button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #expert-craftmen-button-area p {
        font-size: 12px;
    }

    #expert-craftmen-container img {
        max-width: 480px;
    }
}

.five-star-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 866px;
    margin: auto;
    gap: 10px;
    margin-bottom: 30px;
}

.five-star-section > div {
    display: flex;
    border-radius: 4.376px;
    background: #F0FAFF;
    padding: 20px 30px;
}

.five-star-section img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.five-star-section img:last-child {
    fill: #FFF;
}

.five-star-section p {
color: #000;
font-family: "Plus Jakarta Sans", sans-serif;
font-size: 20px;
font-style: normal;
line-height: 26px;
letter-spacing: -0.4px;
}

.five-star-section svg {
    width: 87px;
    height: 15.76px;
}

@media (max-width: 920px) {
    .five-star-section {
        flex-wrap: wrap;
        padding: 20px;
    }
}

@media (max-width: 580px) {
    .five-star-section p {
        font-size: 12px;
    }

    .five-star-section img {
        height: 35px;
        width: 35px;
    }

    .five-star-section svg {
        width: 60px;
        height: 13px;
    }
}

.testimonial-container {
    display: flex;
    gap: 19px;

}

.testimonial-name-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 13px;
}

@media (max-width: 1030px) {
    #testimonial-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.verified-review {
    display: inline-flex;
    gap: 5px;
    white-space: nowrap;
}

.name {
    color: #333;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 155%;
    white-space: nowrap;
}

.testimonial-container > div {
    display: flex;
    padding: 35px 25px;
    max-width: 600px;
    border-radius: 7.4px;
    background: #FFF;
    gap: 16px;
    box-shadow: 0px 8.179px 32.716px 0px rgba(0, 0, 0, 0.05);
}

.testimonial-container > div > img {
    max-width: 176.864px;
    height: 176.864px;
}

.testimonial-container > div > div img {
    width: 88.546px;
    height: 17.709px;
}

.testimonial-container > div p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14.762px;
    font-style: normal;
    line-height: 155%;
    margin-top: 5.77px;
}

#testimonial-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 1180px) {
    #expert-craftmen-container {
        max-width: 1140px;
        margin: auto;
        margin-top: 120px;
        padding-bottom: 90px;
        border-bottom: 1px solid #C9C9C9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 43.5px;
    }

    #expert-craftmen-left-side {
        max-width: 500px;
    }

    #expert-craftmen-button-area {
        margin: auto;
    }
}

@media (max-width: 680px) {
    #expert-craftmen-left-side h2 {
        font-size: 30px;
    }
    
    #expert-craftmen-container-copy p {
        font-size: 15px;
    }
    
    #expert-craftmen-container img {
        width: 500px;
    }
}

@media (max-width: 580px) {
    #expert-craftmen-left-side h2 {
        font-size: 22px;
    }

    .testimonial-container > div {
        max-width: 550px;
    }

    .testimonial-container > div > img {
        height: 110px;
        width: 110px;
    }

    .testimonial-container > div p {
        font-size: 12px;
    }

    .name {
        font-size: 15px;
    }

    .verified-review {
        font-size: 15px;
    }

    .verified-review svg {
        height: 15px;
        margin-top: 2px;
    }
}
/* expert craftmen - finish


/* 4 reasons section - start */
#four-reasons-container {
    position: relative;
}

#four-reasons-background-image {
    background: url('../public/four-reasons-background-image.png') lightgray 50% / cover no-repeat;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#four-reasons-copy {
    width: 100%;
    max-width: 869.003px;
    margin: auto;
    position: relative;
    z-index: 3;
    padding: 88px 0;
}

#four-reasons-copy h2 {
    text-align: center;
    color: #FFF;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
}

#four-reasons-usp-graph-container {
    display: flex;
    margin-top: 56px;
    gap: 20px;
}

.four-reasons-usp-graph {
    width: 424.503px;
    height: 775px;
    padding-top: 30px;
}

.left {
    border-radius: 20px;
    background: linear-gradient(111deg, rgba(255, 255, 255, 0.16) -8.95%, rgba(255, 255, 255, 0.00) 114%);
    backdrop-filter: blur(19.42643165588379px);
}

.right {
    border-radius: 20px;
    background: #0081C6;
    box-shadow: 0px 53.809px 73.375px 0px rgba(138, 149, 158, 0.15);
}

.four-reasons-usp-graph h3 {
    text-align: center;
    color: #FFF;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24.413px;
    font-style: normal;
    line-height: 136%;
}

#four-reasons-inner-container-left {
    width: 100%;
    max-width: 338.063px;
    margin: auto;
    margin-top: 50.46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#four-reasons-inner-container-left > div {
    width: 100%;
    max-width: 229.336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

hr {
    width: 338.063px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    margin-top: 16px;
    margin-bottom: 28px;
}

#four-reasons-inner-container-left div:nth-child(5) {
    margin-bottom: 22px;
}

#four-reasons-inner-container-left > div > svg {
    margin-bottom: 7px;
}

#four-reasons-inner-container-left > div > p {
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 136%;
}

#four-reasons-inner-container-right {
    width: 100%;
    max-width: 338.063px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#four-reasons-inner-container-right > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 333px;
}

#four-reasons-inner-container-right > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 229px;
}

#four-reasons-inner-container-right > div > svg {
    margin-bottom: 7px;
}

#four-reasons-inner-container-right > div > p {
    color: #FFF;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 136%;
}

@media (max-width: 920px) {
    #four-reasons-copy h2 {
        font-size: 30px;
        max-width: 550px;
        margin: auto;
    }

    #four-reasons-usp-graph-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 580px) {
    #four-reasons-copy h2 {
        font-size: 22px;
        width: 450px;
    }

    .four-reasons-usp-graph h3 {
        font-size: 20px;
    }

    #four-reasons-inner-container-left > div > p {
        font-size: 12px;
    }

    #four-reasons-inner-container-left > div > svg {
        height: 20px;
        width: 20px;
    }

    .four-reasons-usp-graph {
        height: 575px;
    }

    #four-reasons-inner-container-right > div > p {
        font-size: 12px;
    }

    #four-reasons-inner-container-right > div > svg {
        height: 20px;
        width: 20px;
    }
}
/* 4 reasons section - finish */


/* new stronger more efficient windows section - start */
#more-efficient-windows-container {
    position: relative;
    width: 100%;
    max-width: 1090px;
    margin: auto;
    margin-top: 93.07px;
    margin-bottom: 90px;
}

#more-efficient-windows-container h2 {
    text-align: center;
    max-width: 640.891px;
    margin: auto;
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
}

.more-efficient-windows-copy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

#middle {
    margin-top: 70.93px;
}

.middle-column {
    color: #0081C6;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    line-height: 130%;
}

#left-side-top {
    margin-top: 79.93px;
}

#left-side-top img {
    margin-top: 68px;
}

#right-side-top {
    margin-top: 70.93px;
}

.sides {
    width: 100%;
    max-width: 475px;
}

.sides > div {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.sides > div > p {
    color: #1C3644;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 402px;
}

.sides > p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 155%;
}

.sides img {
    width: 100%;
    max-width: 475px;
    height: auto;
}

#step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#step-3-left-bottom-copy {
    margin-top: 40px;
}

#step-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#step-5 {
    display: flex;
    align-items: center;
}

.svg-underline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#0081C6, #FFFFFF);
    height: 277px;
    width: 2px;
    margin: auto;
}

@media (max-width: 1130px) {
    .svg-underline {
        display: flex;
        width: 100%;
        max-width: 65px;
        height: 2px;
        background-image: linear-gradient(to right, #0081C6, #FFFFFF);
        margin-top: 2px;
    }

    .column-2 {
        height: 0;
    }

    #more-efficient-windows-container h2 {
        margin-bottom: 20px;
    }

    #right-side-top {
        margin-top: 20px;
    }

    .sides > div {
        margin-top: 40px;
    }

    #step-2 > p {
        margin-bottom: 20px;
    }

    .sides img {
        margin-top: 10px;
    }
}

@media (max-width: 580px) {
    #right-side-top {
        margin-top: 20px;
    }

    .sides > div {
        margin-top: 0;
    }

    #step-3-title, #step-4-title, #step-5-title {
        margin-bottom: 40px;
    }
}

.button-area {
    text-align: center;
    margin-top: 62px;
}

.button-area button {
    padding: 17px 58px;
    color: #FFF;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: 20px;
    border-radius: 10px;
    background: #0081C6;
    border: none;
    box-shadow: 0px -1.782px 0px 0px rgba(0, 0, 0, 0.12) inset;
}

.button-area p {
    margin-top: 6px;
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 150%;
}

/* line */
.line {
    margin-top: 90px;
    border: 1px solid #AEAEAE;
    width: 100%;
    max-width: 1140px;
    margin: auto;
}

#more-efficient-windows-under-line {
    margin-top: 90px;
}

#more-efficient-windows-under-line h2 {
    width: 100%;
    max-width: 605.93px;
    margin: auto;
    margin-bottom: 60px;
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 46px;
    letter-spacing: -0.4px;
}

#exclusive-partnerships-logos-container {
    margin: 60.27px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 5.95px;
    width: 100%;
    max-width: 792.895px;
    margin: auto;
    margin-bottom: 90px;
}

#exclusive-partnerships-logos-container img:nth-child(1) {
    padding: 39px 42px;
    max-width: 260.333px;
    border-radius: 14.308px;
    background: #FFF;
    box-shadow: 0px 7.154px 28.615px 0px rgba(0, 0, 0, 0.06);
}

#exclusive-partnerships-logos-container img:nth-child(2) {
    padding: 29px 46px;
    max-width: 260.333px;
    border-radius: 14.308px;
    background: #FFF;
    box-shadow: 0px 7.154px 28.615px 0px rgba(0, 0, 0, 0.06);
}

#exclusive-partnerships-logos-container img:nth-child(3) {
    padding: 31px 44px;
    max-width: 260.333px;
    border-radius: 14.308px;
    background: #FFF;
    box-shadow: 0px 7.154px 28.615px 0px rgba(0, 0, 0, 0.06);
}

@media (max-width: 1130px) {
    .more-efficient-windows-copy {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* step 1 */
    #more-efficient-windows-container-1 .column-1 {
        order: 2;
    }

    #more-efficient-windows-container-1 .column-2 {
        order: 1;
        height: 50px;
    }

    #more-efficient-windows-container-1 .column-3 {
        order: 3;
    }


    /* step 2 */
    #more-efficient-windows-container-2 .column-1 {
        order: 3;
    }

    #more-efficient-windows-container-2 .column-2 {
        order: 1;
    }

    #more-efficient-windows-container-2 .column-3 {
        order: 2;
    }

    
    /* step 3 */
    #more-efficient-windows-container-3 .column-1 {
        order: 2;
    }

    #more-efficient-windows-container-3 .column-2 {
        order: 1;
    }

    #more-efficient-windows-container-3 .column-3 {
        order: 3;
    }


    /* step 4 */
    #more-efficient-windows-container-4 .column-1 {
        order: 3;
    }

    #more-efficient-windows-container-4 .column-2 {
        order: 1;
    }

    #more-efficient-windows-container-4 .column-3 {
        order: 2;
    }


    /* step 5 */
    #more-efficient-windows-container-5 .column-1 {
        order: 2;
    }

    #more-efficient-windows-container-5 .column-2 {
        order: 1;
    }

    #more-efficient-windows-container-5 .column-3 {
        order: 3;
    }

    .column-2 {
        display: flex;
        flex-direction: column;
    }

    .svg img {
        max-height: 100px;
        border: 2px solid red;
    }

    #left-side-top, #middle {
        margin-top: 0;
    }

    #left-side-top > div {
        margin-top: 0;
    }

    #step-2 > div  {
        margin-top: 20px;
    }

    #step-2-title {
        margin-bottom: 20px;
    }

    #more-efficient-windows-container-1 .column-2 {
        height: 40px;
    }
}

@media (max-width: 920px) {
    #more-efficient-windows-container h2 {
        font-size: 30px;
    }

    #more-efficient-windows-copy-container p {
        font-size: 15px;
    }

    #more-efficient-windows-copy-container svg {
        width: 35px;
        height: 35px;
    }

    #more-efficient-windows-under-line h2 {
        font-size: 30px;
        max-width: 560px;
    }

    #exclusive-partnerships-logos-container {
        flex-wrap: wrap;
        padding: 0 80px;
    }
}

@media (max-width: 580px) {
    #more-efficient-windows-container h2 {
        font-size: 22px;
        max-width: 450px;
    }

    #more-efficient-windows-copy-container p {
        font-size: 12px;
    }

    #more-efficient-windows-copy-container svg {
        height: 20px;
        width: 20px;
    }

    #more-efficient-windows-under-line h2 {
        font-size: 22px;
        max-width: 480px;
    }
}
/* new stronger more efficient windows section - finish */


/* stunning homes guarenteed - start */
#stunning-homes-guarenteed-parent-container {
    background: #E6F7FF;
    width: 100%;
}

#stunning-homes-guarenteed-container {
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stunning-homes-guarenteed-container img {
    max-width: 311.98px;
    height: auto;
    margin-top: 90px;
    margin-bottom: 26.32px;
}

#stunning-homes-guarenteed-container h2 {
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
    width: 100%;
    max-width: 650.64px;
    margin-bottom: 36px;
}

#stunning-homes-guarenteed-copy {
    width: 100%;
    max-width: 500px;
    height: 221px;
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 155%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

#stunning-homes-guarenteed-copy p:last-child {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

@media (max-width: 960px) {
    #stunning-homes-guarenteed-container img {
        max-width: 270px;
    }
}

@media (max-width: 855px) {
    #stunning-homes-five-star-section {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
    }
}

@media (max-width: 710px) {
    #stunning-homes-guarenteed-container h2 {
        max-width: 550px;
        font-size: 30px;
    }

    #stunning-homes-guarenteed-copy p, #stunning-homes-guarenteed-copy p:last-child, #stunning-homes-guarenteed-ratings h4, #stunning-homes-guarenteed-ratings h4 strong {
        font-size: 15px;
    }

    #stunning-homes-five-star-section {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 40px;
    }
}

@media (max-width: 580px) {
    #stunning-homes-guarenteed-container img {
        max-width: 225px;
    }

    #stunning-homes-guarenteed-container h2 {
        max-width: 480px;
        font-size: 22px;
    }

    #stunning-homes-guarenteed-copy {
        max-width: 450px;
        height: 150px;
    }

    #stunning-homes-guarenteed-copy p, #stunning-homes-guarenteed-copy p:last-child {
        font-size: 12px;
    }
}

#stunning-homes-guarenteed-ratings {
    width: 100%;
    max-width: 866px;
    margin: auto;
    margin-bottom: 50px;
}

#stunning-homes-guarenteed-ratings h4 {
    text-align: center;
    color: #252A2C;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin-bottom: 18px;
}

#stunning-homes-five-star-section {
    display: flex;
    gap: 10px;
}

#stunning-homes-five-star-section > div {
    display: flex;
    padding: 20px 30px;
    border-radius: 4.376px;
    background: #FFF;
    box-shadow: 0px 22.47px 59.92px 0px rgba(0, 0, 0, 0.10);
    gap: 5px;
}

#stunning-homes-five-star-section > div > img {
    margin: 0;
    width: 50px;
    height: 50px;
    border: none;
}

#stunning-homes-five-star-section > div > div > p {
    color: #000;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: -0.4px;
}

#stunning-homes-guarenteed-houses-container {
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
}

.stunning-homes-guarenteed-houses {
    width: 100%;
    max-width: 475px;
    border-radius: 8px;
    box-shadow: 0px 8.179px 32.716px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 580px) {
    #stunning-homes-guarenteed-ratings h4 {
        font-size: 18px;
    }

    #stunning-homes-five-star-section > div > div > p {
        font-size: 12px;
    }

    #stunning-homes-five-star-section > div > div > svg {
        width: 50px;
    }

    #stunning-homes-five-star-section > div > img {
        height: 40px;
        width: 40px;
    }
}

.house-image > img {
    width: 475px;
    height: 246px;
    margin-bottom: -5px;
    border-radius: 8px 8px 0 0;
}

.stunning-homes-guarenteed-houses-copy {
    background-color: #FFF;
    padding: 13px 20px 26px 20px;
    border-radius: 0 0 8px 8px;
    max-width: 475px;
}

.stunning-homes-guarenteed-houses p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14.762px;
    font-style: normal;
    line-height: 155%;
    margin-bottom: 18px;
}

.stars img {
    width: 100%;
    max-width: 88.546px;
}

.testimonial-image-circle {
    display: flex;
    gap: 14px;
}

.testimonial-image-circle img {
    width: 66px;
    height: 66px;
    border-radius: 200px;
}

.testimonial-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-image-text p {
    color: #333;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0 !important;
}

.testimonial-image-text > div {
    display: flex;
    align-items: stretch;
    gap: 6px;
    margin-top: 2px;
}

.testimonial-image-text span {
    color: #333;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

#slider-button {
    display: flex;
    justify-content: center;
    padding-bottom: 33.92px;
}
/* stunning homes guarenteed - finish */


#gradient {
    height: 106px;
    transform: rotate(180deg);
    background: linear-gradient(0deg, #E6F8FF 0%, #FFF 100%);
}


/* claim your free in home - start */
#claim-your-free-in-home-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#for-a-limited-time-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 26px;
    gap: 9px;
    border-radius: 30px;
    background: rgba(0, 129, 198, 0.05);
    margin-top: 57px;
}

#for-a-limited-time-container p {
    color: #0081C6;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2.4px;
}

#claim-your-free-in-home-container h2 {
    color: #1C3644;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.4px;
    max-width: 858.023px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 24.65px;
    text-transform: capitalize;
}


#claim-your-free-in-home-container h3 {
    color: #173F69;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.23px;
    max-width: 759px;
    margin: auto;
    text-transform: capitalize;
}

@media (max-width: 870px) {
    #claim-your-free-in-home-container h2 {
        font-size: 30px;
        max-width: 700px;
    }

    #claim-your-free-in-home-container h3 {
        font-size: 18px;
    }
}

@media (max-width: 840px) {
    #claim-your-free-in-home-container h3 {
        font-size: 18px;
        max-width: 600px;
    }
}

#claim-your-free-in-home-container img {
    max-width: 994.454px;
    margin: auto;
}

@media (max-width: 960px) {
    #claim-your-free-in-home-container img {
        max-width: 900px;
    }
}

@media (max-width: 870px) {
    #claim-your-free-in-home-container img {
        max-width: 800px;
    }
}

@media (max-width: 780px) {
    #claim-your-free-in-home-container img {
        max-width: 690px;
    }
}

@media (max-width: 580px) {
    #for-a-limited-time-container p {
        font-size: 12px;
    }

    #for-a-limited-time-container svg {
        height: 15px;
    }

    #claim-your-free-in-home-container h2 {
        font-size: 22px;
        max-width: 480px;
    }

    #claim-your-free-in-home-container h3 {
        font-size: 15px;
        max-width: 480px;
    }

    #claim-your-free-in-home-container img {
        max-width: 500px;
    }
}

#claim-your-free-in-home-usps {
    margin-top: 65px;
}

#claim-your-free-in-home-usps p {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    margin: auto;
    max-width: 500px;
}

@media (max-width: 870px) {
    #claim-your-free-in-home-usps p {
        font-size: 15px;
    }
}

.individual-usp-container {
    max-width: 541.695px;
    margin: auto;
    display: flex;
    gap: 16px;
    margin: 28px auto;
}

.individual-usp-container span {
    margin-top: 7px;
}

.usp-text {
    color: #1A1A1A;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}

@media (max-width: 580px) {
    #individual-usp-container {
        margin: 40px 20px;
    }

    #individual-usp-container p {
        font-size: 12px;
    }

    #individual-usp-container p strong {
        font-size: 12px;
    }

    #individual-usp-container img {
        height: 40px;
        width: 40px;
    }

    #claim-your-free-in-home-usps p {
        font-size: 12px;
    }

    .individual-usp-container span svg {
        height: 18px;
    }
}

#in-home-consultation-button button {
    margin-bottom: 6px;  
}

#in-home-consultation-button p {
    color: #252A2C;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#in-home-consulting-line {
    background: #AEAEAE;
    width: 1140px;
    height: 1px;
    margin: auto;
    margin-top: 109px;
    margin-bottom: 82.5px;
}

@media (max-width: 580px) {
    #in-home-consultation-button button {
        font-size: 12px;
        padding: 14px 48px;
    }

    #in-home-consultation-button p {
        font-size: 12px;
    }
}
/* claim your free in home - finish */


/* footer - start */
#footer svg {
    display: flex;
    margin: auto;
    margin-bottom: 45px;
}

#footer > div {
    max-width: 640px;
    color: #000;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 22.314px;
    font-style: normal;
    font-weight: 400;
    line-height: 161%;
    margin: auto;
}

#footer p {
    margin: 30px 0;
}

@media (max-width: 870px) {
    #footer p {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    #footer p {
        font-size: 12px;
    }
}
/* footer - finish */


/* swiper js - start */
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-wrapper {
    position: relative;
}

.swiper-slide {
    min-width: 570px;
}

@media (max-width: 1300px) {
    .swiper-slide {
        min-width: 545px;
    }
}

.swiper:nth-child(2) {
    height: 500px;
    position: relative;
}

.swiper:nth-child(2) .swiper-slide {
    max-width: 475px;
    min-width: 475px;
    height: 450px;
}

.swiper:nth-child(2) .swiper-pagination {
    position: absolute;
    --swiper-pagination-bullet-inactive-color: #0081C6;
}

.swiper:nth-child(2) .swiper-pagination-bullet {
    width: 14px;
    height: 8px;
    border-radius: 50px;
    transition: all 0.3s ease;
}


.swiper:nth-child(2) .swiper-pagination-bullet-active {
    width: 50px;
    height: 8px;
    background: #2f78c5;
}

@media (max-width: 1200px) {
    .swiper-slide > div {
        margin: auto;
    }
}

@media (max-width: 930px) {
    .swiper {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide {
        min-width: 600px;
    }
}

@media (max-width: 580px) {
    .swiper-slide {
        min-width: 550px;
    }

    .swiper:nth-child(2) .swiper-slide {
        min-width: 475px;
    }
}
/* swiper js - finish */